<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Shopping Cart</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <link rel="icon" type="image/x-icon" th:href="@{/assets/images/icons/favicon.png}">

    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}">
</head>

<body>
<div class="page-wrapper">
    <div class="top-notice bg-primary text-white">
        <div class="container text-center">
            <h5 class="d-inline-block">Get Up to <b>40% OFF</b> New-Season Styles</h5>
            <a th:href="@{/category}" class="category">MEN</a>
            <a th:href="@{/category}" class="category ml-2 mr-3">WOMEN</a>
            <small>* Limited time only.</small>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div></div><header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left d-none d-sm-block">
                <p class="top-message text-uppercase">FREE Returns. Standard Shipping Orders $99+</p>
            </div><div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
            <div class="header-dropdown dropdown-expanded d-none d-lg-block">
                <a href="#">Links</a>
                <div class="header-menu">
                    <ul>
                        <li><a th:href="@{/dashboard}">My Account</a></li>
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a th:href="@{/blog}">Blog</a></li>
                        <li><a th:href="@{/wishlist}">My Wishlist</a></li>
                        <li><a th:href="@{/cart}">Cart</a></li>
                        <li><a th:href="@{/login}" class="login-link">Log In</a></li>
                    </ul>
                </div></div><span class="separator"></span>

            <div class="header-dropdown">
                <a href="#"><i class="flag-us flag"></i>ENG</a>
                <div class="header-menu">
                    <ul>
                        <li><a href="#"><i class="flag-us flag mr-2"></i>ENG</a>
                        </li>
                        <li><a href="#"><i class="flag-fr flag mr-2"></i>FRA</a></li>
                    </ul>
                </div></div><div class="header-dropdown mr-auto mr-sm-3 mr-md-0">
            <a href="#">USD</a>
            <div class="header-menu">
                <ul>
                    <li><a href="#">EUR</a></li>
                    <li><a href="#">USD</a></li>
                </ul>
            </div></div><span class="separator"></span>

            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank"></a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank"></a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank"></a>
            </div></div></div></div><div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
    <div class="container">
        <div class="header-left col-lg-2 w-auto pl-0">
            <button class="mobile-menu-toggler text-primary mr-2" type="button">
                <i class="fas fa-bars"></i>
            </button>
            <a th:href="@{/}" class="logo">
                <img th:src="@{/assets/images/logo_black.png}" width="111" height="44" alt="Porto Logo">
            </a>
        </div><div class="header-right w-lg-max">
        <div
                class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
            <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
            <form action="#" method="get">
                <div class="header-search-wrapper">
                    <input type="search" class="form-control" name="q" id="q" placeholder="Search..."
                           required>
                    <div class="select-custom">
                        <select id="cat" name="cat">
                            <option value="">All Categories</option>
                            <option value="4">Fashion</option>
                            <option value="12">- Women</option>
                            <option value="13">- Men</option>
                            <option value="66">- Jewellery</option>
                            <option value="67">- Kids Fashion</option>
                            <option value="5">Electronics</option>
                            <option value="21">- Smart TVs</option>
                            <option value="22">- Cameras</option>
                            <option value="63">- Games</option>
                            <option value="7">Home &amp; Garden</option>
                            <option value="11">Motors</option>
                            <option value="31">- Cars and Trucks</option>
                            <option value="32">- Motorcycles &amp; Powersports</option>
                            <option value="33">- Parts &amp; Accessories</option>
                            <option value="34">- Boats</option>
                            <option value="57">- Auto Tools &amp; Supplies</option>
                        </select>
                    </div><button class="btn icon-magnifier p-0" type="submit"></button>
                </div></form>
        </div><div class="header-contact d-none d-lg-flex pl-4 pr-4">
        <img alt="phone" th:src="@{/assets/images/phone.png}" width="30" height="30" class="pb-1">
        <h6><span>Call us now</span><a href="tel:#" class="text-dark font1">+123 5678 890</a></h6>
    </div>
        <a th:href="@{/login}" class="header-icon" title="login"><i class="icon-user-2"></i></a>

        <a th:href="@{/wishlist}" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

        <div class="dropdown cart-dropdown">
            <a href="#" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                <i class="minicart-icon"></i>
                <span class="cart-count badge-circle" th:text="${totalQuantity}">3</span>
            </a>
            <div class="cart-overlay"></div>

            <div class="dropdown-menu mobile-cart">
                <a href="#" title="Close (Esc)" class="btn-close">×</a>

                <div class="dropdownmenu-wrapper custom-scrollbar">
                    <div class="dropdown-cart-header">Shopping Cart</div>
                    <div class="dropdown-cart-products">
                        <div class="product">
                            <div class="product-details">
                                <h4 class="product-title">
                                    <a th:href="@{/product/1}">Ultimate 3D Bluetooth Speaker</a>
                                </h4>
                                <span class="cart-product-info">
                                        <span class="cart-product-qty">1</span>
                                        × $99.00
                                     </span>
                            </div>
                            <figure class="product-image-container">
                                <a th:href="@{/product/1}" class="product-image">
                                    <img th:src="@{/assets/images/products/product-1.jpg}" alt="product" width="80" height="80">
                                </a>
                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                            </figure>
                        </div>
                    </div><div class="dropdown-cart-total">
                    <span>SUBTOTAL:</span>
                    <span class="cart-total-price float-right" th:text="${#numbers.formatDecimal(cartTotal, 0, 'POINT', 0, 'COMMA')} + ' VNĐ'">$134.00</span>
                </div><div class="dropdown-cart-action">
                    <a th:href="@{/cart}" class="btn btn-gray btn-block view-cart">View Cart</a>
                    <a th:href="@{/checkout}" class="btn btn-dark btn-block">Checkout</a>
                </div></div></div></div></div></div></div><div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
    <div class="container">
        <nav class="main-nav w-100">
            <ul class="menu">
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/category}">Categories</a>
                    <div class="megamenu megamenu-fixed-width megamenu-3cols">
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="#" class="nolink">VARIATION 1</a>
                                <ul class="submenu">
                                    <li><a th:href="@{/category}">Fullwidth Banner</a></li>
                                    <li><a th:href="@{/category-banner-boxed-slider}">Boxed Slider Banner</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <a href="#" class="nolink">VARIATION 2</a>
                            </div>
                            <div class="col-lg-4 p-0">
                                <div class="menu-banner">
                                    <figure>
                                        <img th:src="@{/assets/images/menu-banner.jpg}" width="192" height="313" alt="Menu banner">
                                    </figure>
                                    <div class="banner-content">
                                        <h4>
                                            <span class="">UP TO</span><br />
                                            <b class="">50%</b>
                                            <i>OFF</i>
                                        </h4>
                                        <a th:href="@{/category}" class="btn btn-sm btn-dark">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                <li>
                    <a th:href="@{/product}">Products</a>
                    <div class="megamenu megamenu-fixed-width">
                    </div></li>
                <li class="active">
                    <a href="#">Pages</a>
                    <ul>
                        <li><a th:href="@{/wishlist}">Wishlist</a></li>
                        <li><a th:href="@{/cart}">Shopping Cart</a></li>
                        <li><a th:href="@{/checkout}">Checkout</a></li>
                        <li><a th:href="@{/dashboard}">Dashboard</a></li>
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a th:href="@{/blog}">Blog</a></li>
                                <li><a th:href="@{/single}">Blog Post</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/contact}">Contact Us</a></li>
                        <li><a th:href="@{/login}">Login</a></li>
                        <li><a th:href="@{/forgot-password}">Forgot Password</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/blog}">Blog</a></li>
                <li>
                    <a href="#">Elements</a>
                    <ul class="custom-scrollbar">
                    </ul>
                </li>
                <li><a th:href="@{/contact}">Contact Us</a></li>
                <li class="float-right"><a href="https://1.envato.market/DdLk5" class="pl-5"
                                           target="_blank">Buy Porto!</a></li>
                <li class="float-right"><a href="#" class="pl-5">Special Offer!</a></li>
            </ul>
        </nav>
    </div></div></header>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table-container">
                        <form th:action="@{/cart/update-all}" method="post">
                            <table class="table table-cart">
                                <thead>
                                </thead>
                                <tbody>
                                <tr class="product-row" th:each="item : ${cart.items}">
                                    <td>
                                        <figure class="product-image-container">
                                            <a th:href="@{/product/{id}(id=${item.product.id})}" class="product-image">
                                                <img th:src="@{/assets/images/demoes/demo6/products/{fileName}(fileName=${item.product.imageUrl})}"
                                                     th:alt="${item.product.name}" width="80" height="80">
                                            </a>
                                            <a th:href="@{/cart/remove/{itemId}(itemId=${item.id})}" class="btn-remove icon-cancel" title="Remove Product"></a>
                                        </figure>
                                    </td>
                                    <td class="product-col">
                                    </td>
                                    <td th:text="${#numbers.formatDecimal(item.product.price, 0, 'POINT', 0, 'COMMA')} + ' VNĐ'">$17.90</td>
                                    <td>
                                        <div class="product-single-qty">
                                            <input type="hidden" name="itemId" th:value="${item.id}" />
                                            <input class="horizontal-quantity form-control"
                                                   type="number"
                                                   name="quantity"
                                                   th:value="${item.quantity}"
                                                   min="1"
                                                   required>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <span class="subtotal-price"
                                              th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 0, 'COMMA')} + ' VNĐ'">Tổng phụ</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5" class="clearfix">
                                        <div class="float-left">
                                            <div class="cart-discount">
                                                <form action="#">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control form-control-sm"
                                                               placeholder="Coupon Code">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-sm" type="submit">Apply
                                                                Coupon</button>
                                                        </div>
                                                    </div></form>
                                            </div>
                                        </div><div class="float-right">

                                        <button type="submit" class="btn btn-shop btn-update-cart">
                                            Update Cart
                                        </button>
                                    </div></td>
                                </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart-summary">
                        <h3>CART TOTALS</h3>
                        <table class="table table-totals">
                            <tbody>
                            <tr>
                                <td>Subtotal</td>
                                <td th:text="${#numbers.formatDecimal(cart.total, 0, 'POINT', 0, 'COMMA')} + ' VNĐ'">$17.90</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-left">
                                    <h4>Shipping</h4>
                                </td>
                            </tr>
                            </tbody>
                            <tr>
                                <td>Total</td>
                                <td>—</td> </tr>
                        </table>
                        <div class="checkout-methods">
                            <a th:href="@{/order/checkout}" class="btn btn-block btn-dark">Proceed to Checkout
                                <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-6"></div>
        </div>
    </main>

    <footer class="footer bg-dark">
</footer></div><div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div class="mobile-menu-overlay"></div><div class="mobile-menu-container">
</div><div class="sticky-navbar">
    <div class="sticky-info">
        <a th:href="@{/}">
            <i class="icon-home"></i>Home
        </a>
    </div>
    <div class="sticky-info">
        <a th:href="@{/category}" class="">
            <i class="icon-bars"></i>Categories
        </a>
    </div>
    <div class="sticky-info">
        <a th:href="@{/wishlist}" class="">
            <i class="icon-wishlist-2"></i>Wishlist
        </a>
    </div>
    <div class="sticky-info">
        <a th:href="@{/login}" class="">
            <i class="icon-user-2"></i>Account
        </a>
    </div>
    <div class="sticky-info">
        <a th:href="@{/cart}" class="">
            <i class="icon-shopping-cart position-relative">
                <span class="cart-count badge-circle" th:text="${totalQuantity}">3</span>
            </i>Cart
        </a>
    </div>
</div>



<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

<script data-cfasync="false" th:src="@{/assets/js/email-decode.min.js}"></script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/plugins.min.js}"></script>

<script th:src="@{/assets/js/main.min.js}"></script>

<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'9a83b560a8e40fc2',t:'MTc2NDc3MTY2Ng=='};var a=document.createElement('script');a.src='../../cdn-cgi/challenge-platform/h/b/scripts/jsd/13c98df4ef2d/maind41d.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script>
<script defer th:src="@{/assets/js/cloudflare-beacon.min.js}" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"ecd4920e43e14654b78e65dbf8311922","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>

</body>
</html>