<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>FSStore - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="FSStore - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/images/icons/favicon.jpg}">


    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400']
            }
        };
        (function(d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/demo6.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-middle sticky-header">
                <div class="container-fluid">
                    <div class="header-left flex-1 d-none d-xl-flex">
                        <nav class="main-nav w-100">
                            <ul class="menu ls-n-10">
                                <li class="active">
                                    <a th:href="@{/#}" class="pl-4">Trang Chủ</a>
                                </li>
                                <li>
                                    <a th:href="@{/shop}">Phân Loại</a>
                                    <div class="megamenu megamenu-fixed-width megamenu-3cols">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <a href="#" class="nolink">ĐỐI TƯỢNG</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a th:href="@{/shop(cat='Nam')}">Nam</a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/shop(cat='Nữ')}">Nữ</a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/shop}">Tất cả sản phẩm</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-4">
                                                <a href="#" class="nolink">DANH MỤC</a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/shop(cat='Áo')}">Áo</a></li>
                                                    <li><a th:href="@{/shop(cat='Quần')}">Quần</a></li>
                                                    <li><a th:href="@{/shop(cat='Váy')}">Váy</a></li>
                                                    <li><a th:href="@{/shop(cat='Giày')}">Giày</a></li>
                                                    <li><a th:href="@{/shop(cat='Túi xách')}">Túi xách</a></li>
                                                    <li><a th:href="@{/shop(cat='Đồng hồ')}">Đồng hồ</a></li>
                                                    <li><a th:href="@{/shop(cat='Thắt lưng')}">Thắt lưng</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-4 p-0">
                                                <div class="menu-banner">
                                                    <figure>
                                                        <img th:src="@{/assets/images/menu-banner.jpg}" alt="Menu banner" width="300" height="300">
                                                    </figure>
                                                    <div class="banner-content">
                                                        <h4>
                                                            <span class="">UP TO</span><br />
                                                            <b class="">50%</b>
                                                            <i>OFF</i>
                                                        </h4>
                                                        <a th:href="@{/shop}" class="btn btn-sm btn-dark">MUA NGAY</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Trợ Giúp</a>
                                    <ul>
                                        <li>
                                            <a th:href="@{/wishlist}">Yêu thích</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/cart}">Giỏ hàng</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/order/checkout}">Thanh toán</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/login}">Đăng Ký</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/forgot-password}">Quên mật khẩu</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End .header-left -->

                    <div class="header-center ml-0 ml-xl-auto">
                        <a th:href="@{/}" class="logo logo-transition">
                            <img th:src="@{/assets/images/logo_black.png}" width="113" height="46" alt="Porto" />
                        </a>
                    </div>
                    <!-- End .header-center -->

                    <div class="header-right flex-1 justify-content-end">
                        <button class="mobile-menu-toggler" type="button">
                            <i class="fas fa-bars"></i>
                        </button>

                        <div class="user-info-wrapper d-flex align-items-center">
                    <span sec:authorize="isAuthenticated()" style="margin-right: 10px; font-size: 13px; white-space: nowrap;" class="d-none d-sm-inline">
                        Chào, <strong sec:authentication="name" class="text-primary">User</strong>
                    </span>

                            <a th:href="@{/account}" class="header-icon header-icon-user">
                                <i class="icon-user-2"></i>
                            </a>

                        </div>
                        <a th:href="@{/wishlist}" class="header-icon"><i class="icon-wishlist-2"></i></a>
                        <div class="header-search header-search-popup header-search-category d-none d-sm-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
                            <form th:action="@{/shop}" method="get">
                                <div class="header-search-wrapper">
                                    <input type="search"
                                           class="form-control"
                                           name="keyword"
                                           id="keyword"
                                           th:value="${keyword}"
                                           placeholder="Tôi đang tìm kiếm..."
                                           required="">

                                    <button class="btn icon-search-3" type="submit"></button>
                                </div>
                            </form>
                        </div>
                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle dropdown-arrow cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-cart-thick"></i>
                                <span class="cart-count badge-circle"
                                      th:text="${cart != null && cart.items != null ? cart.items.size() : 0}">0</span>
                            </a>

                            <div class="cart-overlay"></div>

                            <div class="dropdown-menu mobile-cart">
                                <a href="#" title="Close (Esc)" class="btn-close">×</a>

                                <div class="dropdownmenu-wrapper custom-scrollbar">
                                    <div class="dropdown-cart-header">Giỏ Hàng</div>

                                    <div class="dropdown-cart-products">
                                        <div class="product" th:each="item : ${cart?.items}">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a th:href="@{/product/{id}(id=${item.product.id})}"
                                                       th:text="${item.product.name}">Tên sản phẩm</a>
                                                </h4>

                                                <span class="cart-product-info">
                            <span class="cart-product-qty" th:text="${item.quantity}">1</span> ×
                            <span th:text="${#numbers.formatDecimal(item.priceAtPurchase, 0, 'COMMA', 0, 'POINT')} + 'đ'">0đ</span>
                        </span>
                                            </div>

                                            <figure class="product-image-container">
                                                <a th:href="@{/product/{id}(id=${item.product.id})}" class="product-image">
                                                    <img th:src="@{/assets/images/demoes/demo6/products/{fileName}(fileName=${item.product.imageUrl})}"
                                                         alt="product" width="80" height="80">
                                                </a>
                                                <a href="javascript:void(0);"
                                                   th:onclick="'removeCartItemAjax(' + ${item.id} + ', this)'"
                                                   class="btn-remove"
                                                   title="Remove Product">
                                                    <span>×</span>
                                                </a>
                                            </figure>
                                        </div>

                                        <div th:if="${cart == null || #lists.isEmpty(cart.items)}" class="text-center p-5">
                                            <p>Giỏ hàng trống</p>
                                        </div>
                                    </div>

                                    <div class="dropdown-cart-total" th:if="${cart != null && !#lists.isEmpty(cart.items)}">
                                        <span>TỔNG CỘNG:</span>
                                        <span class="cart-total-price float-right"
                                              th:text="${#numbers.formatDecimal(cart.total, 0, 'COMMA', 0, 'POINT')} + 'đ'">0đ</span>
                                    </div>

                                    <div class="dropdown-cart-action" th:if="${cart != null && !#lists.isEmpty(cart.items)}">
                                        <a th:href="@{/cart}" class="btn btn-gray btn-block view-cart">Xem Giỏ Hàng</a>
                                        <a th:href="@{/order/checkout}" class="btn btn-dark btn-block">Thanh Toán</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container-fluid -->
            </div>
            <!-- End .header-middle -->
            </div>
        </header>
        <!-- End .header -->

        <main class="main">
            <div class="category-banner home-slide-2 banner banner-sm-vw-xx d-flex justify-content-between bg-img bg-primary" style="background-image: url(/assets/images/demoes/demo6/banners/category-banner.jpg);background-size: contain">
                <div class="banner-content banner-layer-left appear-animate" data-animation-name="fadeIn" data-animation-duration="1200" data-animation-delay="200">
                    <h2 class="text-white font3 font-weight-normal p-l-1">Summer Trends</h2>
                    <h3 class="text-white mb-0 text-left text-uppercase ml-0 ls-10">sale</h3>
                </div>
                <div class="banner-content banner-layer-right appear-animate" data-animation-name="fadeIn" data-animation-duration="1200" data-animation-delay="400">
                    <h4 class="text-white pl-2 font-weight-light text-left text-uppercase">prices up to</h4>
                    <h3 class="text-white mb-0 text-sale m-l-n-xs text-left text-uppercase ml-0">80%<small>OFF</small>
                    </h3>
                </div>
            </div>

<!--            <nav aria-label="breadcrumb" class="breadcrumb-nav">-->
<!--                <div class="container-fluid">-->
<!--                    <ol class="breadcrumb">-->
<!--                        <li class="breadcrumb-item"><a href="home.html">Trang Chủ</a></li>-->
<!--                        <li class="breadcrumb-item"><a href="#">Men</a></li>-->
<!--                        <li class="breadcrumb-item active" aria-current="page">Accessories</li>-->
<!--                    </ol>-->
<!--                </div>-->
<!--            </nav>-->

            <div class="container-fluid products-body mb-3">
                <nav class="toolbox sticky-header horizontal-filter filter-sorts" data-sticky-options="{'mobile': true}">
                    <div class="sidebar-overlay d-lg-none"></div>
                    <a href="#" class="sidebar-toggle border-0"><svg data-name="Layer 3" id="Layer_3"
                            viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <line x1="15" x2="26" y1="9" y2="9" class="cls-1"></line>
                            <line x1="6" x2="9" y1="9" y2="9" class="cls-1"></line>
                            <line x1="23" x2="26" y1="16" y2="16" class="cls-1"></line>
                            <line x1="6" x2="17" y1="16" y2="16" class="cls-1"></line>
                            <line x1="17" x2="26" y1="23" y2="23" class="cls-1"></line>
                            <line x1="6" x2="11" y1="23" y2="23" class="cls-1"></line>
                            <path d="M14.5,8.92A2.6,2.6,0,0,1,12,11.5,2.6,2.6,0,0,1,9.5,8.92a2.5,2.5,0,0,1,5,0Z"
                                class="cls-2"></path>
                            <path d="M22.5,15.92a2.5,2.5,0,1,1-5,0,2.5,2.5,0,0,1,5,0Z" class="cls-2"></path>
                            <path d="M21,16a1,1,0,1,1-2,0,1,1,0,0,1,2,0Z" class="cls-3"></path>
                            <path d="M16.5,22.92A2.6,2.6,0,0,1,14,25.5a2.6,2.6,0,0,1-2.5-2.58,2.5,2.5,0,0,1,5,0Z"
                                class="cls-2"></path>
                        </svg>
                        <span>Filter</span>
                    </a>

                    <aside class="toolbox-left sidebar-shop mobile-sidebar">
                        <div class="toolbox-item toolbox-sort select-custom">
                            <a class="sort-menu-trigger" href="#">Phân Loại</a>

                            <ul class="sort-list cat-list">

                                <li th:classappend="${catValue == null or catValue == ''} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat=${catValue})}">
                                        Tất Cả Sản Phẩm
                                    </a>
                                </li>

                                <li th:classappend="${catValue == 'Nam'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Nam')}">
                                        Nam
                                    </a>
                                </li>
                                <li th:classappend="${catValue == 'Nữ'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Nữ')}">
                                        Nữ
                                    </a>
                                </li>

                                <li><hr class="mt-0 mb-0"></li>

                                <li th:classappend="${catValue == 'Áo'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Áo')}">Áo</a>
                                </li>
                                <li th:classappend="${catValue == 'Quần'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Quần')}">Quần</a>
                                </li>
                                <li th:classappend="${catValue == 'Váy'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Váy')}">Váy</a>
                                </li>
                                <li th:classappend="${catValue == 'Giày'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Giày')}">Giày</a>
                                </li>
                                <li th:classappend="${catValue == 'Tất'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Tất')}">Tất</a>
                                </li>

                                <li th:classappend="${catValue == 'Túi xách'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Túi xách')}">Túi xách</a>
                                </li>
                                <li th:classappend="${catValue == 'Đồng hồ'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Đồng hồ')}">Đồng hồ</a>
                                </li>
                                <li th:classappend="${catValue == 'Cà Vạt'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Cà Vạt')}">Cà Vạt</a>
                                </li>
                                <li th:classappend="${catValue == 'Thắt lưng'} ? 'active' : ''">
                                    <a th:href="@{/shop(page=0, size=${productPage.size}, keyword=${keyword}, cat='Thắt lưng')}">Thắt lưng</a>
                                </li>

                            </ul>
                        </div>

                        <div class="toolbox-item toolbox-sort price-sort select-custom">
                            <a class="sort-menu-trigger" href="#">Giá</a>
                            <div class="sort-list">
                                <form th:action="@{/shop}" method="get" class="filter-price-form d-flex align-items-center m-0">
                                    <input class="input-price mr-2" name="min_price" placeholder="Min" th:value="${minPrice}" style="width: 100px; padding: 5px;"/> -
                                    <input class="input-price mx-2" name="max_price" placeholder="Max" th:value="${maxPrice}" style="width: 100px; padding: 5px;" />
                                    <button type="submit" class="btn btn-primary ml-3">Lọc</button>

                                    <input type="hidden" name="keyword" th:value="${keyword}" />
                                    <input type="hidden" name="cat" th:value="${catValue}" />

                                </form>
                            </div>
                        </div>
                        <!-- End .toolbox-item -->
                    </aside>
                    <!-- End .toolbox-left -->
                    <!-- End .toolbox-item -->

                    <!-- End .layout-modes -->
                </nav>

                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 col-xl-5col" th:each="product : ${products}">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a th:href="@{/product/{id}(id=${product.id})}">
                                    <img th:src="@{/assets/images/demoes/demo6/products/{image}(image=${product.imageUrl})}"
                                         width="400" height="400"
                                         th:alt="${product.name}" />

                                </a>

                            </figure>
                            <div class="product-details">

                                <h3 class="product-title">
                                    <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}">Tên sản phẩm</a>
                                </h3>

                                <div class="ratings-container">
                                    <div class="ratings-container">
                                        <div class="product-ratings">
        <span class="ratings"
              th:if="${product.rating != null}"
              th:style="'width:' + (${product.rating} * 20) + '%'">
        </span>
                                            <span class="ratings"
                                                  th:unless="${product.rating != null}"
                                                  style="width: 0%">
        </span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="price-box">
                <span class="product-price"
                      th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'POINT') + ' VNĐ'}">
                    $149.00
                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .col-sm-4 -->
                <!-- End .row -->

                    <nav class="toolbox toolbox-pagination">
                        <div class="toolbox-item toolbox-show">
                            <label>Show:</label>

                            <div class="select-custom">
                                <select name="count" class="form-control"
                                        id="pageSizeSelector"
                                        onchange="changePageSize()">

                                    <option value="10" th:selected="${productPage.size == 10}">10</option>
                                    <option value="20" th:selected="${productPage.size == 20}">20</option>
                                    <option value="30" th:selected="${productPage.size == 30}">30</option>
                                </select>
                            </div>
                        </div>
                        <div class="toolbox-item toolbox-show">
                            <label th:if="${productPage.totalElements > 0}"
                                   th:text="'Hiển thị ' + (${productPage.number * productPage.size + 1}) +
                       '–' + (${productPage.number * productPage.size + productPage.numberOfElements}) +
                       ' trên tổng số ' + ${productPage.totalElements} + ' kết quả'">
                                Showing 1–12 of 60 results
                            </label>
                            <label th:unless="${productPage.totalElements > 0}">
                                Không tìm thấy sản phẩm nào.
                            </label>
                        </div>

                        <ul class="pagination toolbox-item">
                            <th:block th:if="${totalPages > 0}">
                                <li th:class="${productPage.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                                    <a class="page-link page-link-btn"
                                       th:href="@{/shop(page=${productPage.number - 1},
                                                        size=${productPage.size},
                                                        keyword=${keyword},
                                                        cat=${catValue},
                                                        min_price=${minPrice},
                                                        max_price=${maxPrice})}"
                                       aria-label="Previous">
                                        <i class="icon-angle-left"></i>
                                    </a>
                                </li>

                                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${currentPage == i} ? 'active'"
                                    class="page-item">
                                    <a class="page-link"
                                       th:href="@{/shop(page=${i},
                                                size=${productPage.size},
                                                keyword=${keyword},
                                                cat=${catValue},
                                                min_price=${minPrice},
                                                max_price=${maxPrice})}"
                                       th:text="${i + 1}">1</a>
                                </li>

                                <li th:class="${productPage.hasNext()} ? 'page-item' : 'page-item disabled'">
                                    <a class="page-link page-link-btn"
                                       th:href="@{/shop(page=${productPage.number + 1},
                                                size=${productPage.size},
                                                keyword=${keyword},
                                                cat=${catValue},
                                                min_price=${minPrice},
                                                max_price=${maxPrice})}"
                                       aria-label="Next">
                                        <i class="icon-angle-right"></i>
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </nav>
            </div>
            <!-- End .container -->
            </div>
        </main>
        <!-- End .main -->
        <footer class="footer appear-animate">

            <div class="footer-middle">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title pb-2 mb-1">Liên hệ</h4>
                                <ul class="contact-info">
                                    <li>
                                        <span class="contact-info-label">Địa chỉ:</span>68 Cầu Giấy, Hà Nội
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Điện thoại:</span> <a href="tel:">0343291216</a>
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Email:</span> <a href="https://portotheme.com/cdn-cgi/l/email-protection#e18c80888da18499808c918d84cf828e8c"><span class="__cf_email__" data-cfemail="701d11191c301508111d001c155e131f1d">son.nb194155@sis.hust.edu.vn</span></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-9">
                            <div class="row footer-content">
                                <div class="col-lg-4">
                                    <div class="widget">
                                        <h4 class="widget-title">Tài Khoản</h4>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <ul class="links mb-0">
                                                    <li><a th:href="@{/}">About us</a></li>
                                                    <li><a th:href="@{/account}">Tài khoản của tôi</a></li>
                                                </ul>
                                            </div>
                                            <!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <ul class="links">
                                                    <li><a th:href="@{/order-history}">Lịch sử đặt hàng</a></li>
                                                    <li><a th:href="@{/login}">Đăng ký</a></li>
                                                </ul>
                                            </div>
                                            <!-- End .col-sm-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .widget -->
                                </div>
                                <!-- End .col-md-4 -->
                                <div class="col-lg-3">
                                    <div class="widget widget-time">
                                        <h4 class="widget-title mb-1">Ngày/Giờ làm việc</h4>
                                        <ul class="contact-info">
                                            <li>
                                                T2 - CN / 9:00AM - 8:00PM
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End .widget -->
                                </div>
                                <!-- End .col-md-33 -->
                            </div>
                            <!-- End .row -->

                            <div class="footer-bottom d-sm-flex align-items-center">

                                <div class="footer-right ml-auto mt-1 mt-sm-0">
                                    <div class="payment-icons mr-0">
                                        <span class="payment-icon visa" style="background-image: url(/assets/images/payments/payment-visa.svg)"></span>
                                        <span class="payment-icon paypal" style="background-image: url(/assets/images/payments/payment-paypal.svg)"></span>
                                        <span class="payment-icon stripe" style="background-image: url(/assets/images/payments/payment-stripe.png)"></span>
                                        <span class="payment-icon verisign" style="background-image:  url(/assets/images/payments/payment-verisign.svg)"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End .footer-bottom -->
                        </div>
                        <!-- End .col-lg-9 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container-fluid -->
            </div>
            <!-- End .footer-middle -->
        </footer>
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li><a th:href="@{/}">Trang Chủ</a></li>
                    <li>
                        <a th:href="@{/shop}">Phân Loại</a>
                        <ul>
                            <li style="font-weight: bold; padding-left: 15px; color: #fff; margin-top: 10px;">ĐỐI TƯỢNG</li>
                            <li><a th:href="@{/shop(cat='Nam')}">Thời trang Nam</a></li>
                            <li><a th:href="@{/shop(cat='Nữ')}">Thời trang Nữ</a></li>

                            <li><hr class="dropdown-divider"></li> <li style="font-weight: bold; padding-left: 15px; color: #fff;">DANH MỤC</li>
                            <li><a th:href="@{/shop(cat='Áo')}">Các loại Áo</a></li>
                            <li><a th:href="@{/shop(cat='Quần')}">Các loại Quần</a></li>
                            <li><a th:href="@{/shop(cat='Váy')}">Váy & Đầm</a></li>
                            <li><a th:href="@{/shop(cat='Giày')}">Giày dép</a></li>
                            <li><a th:href="@{/shop(cat='Túi xách')}">Túi xách</a></li>
                            <li><a th:href="@{/shop(cat='Đồng hồ')}">Đồng hồ</a></li>

                            <li><hr class="dropdown-divider"></li>

                            <li><a th:href="@{/shop}" style="font-weight: bold; color: #0088cc;">Tất Cả Sản Phẩm</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Trợ Giúp<span class="tip tip-hot">Hot!</span></a>
                        <ul>
                            <li>
                                <a th:href="@{/order/checkout}">Thanh toán</a>
                            </li>
                            <li>
                                <a th:href="@{/login}">Đăng Ký</a>
                            </li>
                            <li>
                                <a th:href="@{/forgot-password}">Quên mật khẩu</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="mobile-menu">
                    <li><a th:href="@{/account}">Tài khoản</a></li>
                    <li><a th:href="@{/contact}">Liên hệ</a></li>
                    <li><a th:href="@{/wishlist}">Yêu thích</a></li>
                    <li><a th:href="@{/cart}">Giỏ hàng</a></li>
                    <li><a th:href="@{/login}" class="login-link">Đăng Nhập</a></li>
                </ul>
            </nav>
            <!-- End .mobile-nav -->

            <form class="search-wrapper mb-2" th:action="@{/shop}" method="get">
                <input type="text"
                       class="form-control mb-0"
                       name="keyword"
                       th:value="${keyword}"
                       placeholder="Tìm kiếm sản phẩm..."
                       required />
                <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <div class="sticky-navbar">
        <div class="sticky-info">
            <a th:href="@{/}">
                <i class="icon-home"></i>Trang Chủ
            </a>
        </div>
        <div class="sticky-info">
            <a th:href="@{/shop}" class="">
                <i class="icon-bars"></i>Phân Loại
            </a>
        </div>
        <div class="sticky-info">
            <a th:href="@{/wishlist}" class="">
                <i class="icon-wishlist-2"></i>Yêu Thích
            </a>
        </div>
        <div class="sticky-info">
            <a th:href="@{/login}" class="">
                <i class="icon-user-2"></i>Tài Khoản
            </a>
        </div>
        <div class="sticky-info">
            <a th:href="@{/cart}" class="">
                <i class="icon-shopping-cart position-relative">
                    <span class="cart-count badge-circle">3</span>
                </i>Giỏ hàng
            </a>
        </div>
    </div>

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var shopUrl = /*[[@{/shop}]]*/;
        var currentKeyword = /*[[${keyword}]]*/;
        var currentCat = /*[[${catValue}]]*/;
        var currentMinPrice = /*[[${minPrice}]]*/; // Lấy minPrice từ Model
        var currentMaxPrice = /*[[${maxPrice}]]*/; // Lấy maxPrice từ Model

        function changePageSize() {
            var selector = document.getElementById('pageSizeSelector');
            var newSize = selector.value;

            // Bắt đầu bằng việc reset về trang 0 và thêm size mới
            let newUrl = shopUrl + "?page=0&size=" + newSize;

            // Giữ lại Keyword
            if (currentKeyword && currentKeyword !== "") {
                newUrl += "&keyword=" + encodeURIComponent(currentKeyword);
            }

            // Giữ lại Category
            if (currentCat && currentCat !== "") {
                newUrl += "&cat=" + encodeURIComponent(currentCat);
            }

            // THÊM: Giữ lại Lọc Giá
            if (currentMinPrice) {
                newUrl += "&min_price=" + currentMinPrice;
            }
            if (currentMaxPrice) {
                newUrl += "&max_price=" + currentMaxPrice;
            }

            window.location.href = newUrl;
        }
        /*]]>*/
    </script>

    <!-- Plugins JS File -->
    <script data-cfasync="false" th:src="@{../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins.min.js}"></script>
    <script th:src="@{/assets/js/jquery.appear.min.js}"></script>
    <script>
        function removeCartItemAjax(itemId, element) {
            console.log("Đang gọi hàm xóa cho ID:", itemId); // Kiểm tra xem hàm có chạy không

            // Sử dụng đường dẫn tương đối chính xác
            fetch('/cart/api/remove/' + itemId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    console.log("Phản hồi từ Server:", response.status);
                    if (!response.ok) {
                        throw new Error('Mạng hoặc Server gặp lỗi (Code: ' + response.status + ')');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log("Dữ liệu nhận được:", data);
                    if (data.success) {
                        // Xóa phần tử trên giao diện
                        const productItem = element.closest('.product');
                        if (productItem) {
                            productItem.remove();
                        }

                        // Cập nhật số lượng Badge
                        const badge = document.querySelector('.cart-count');
                        if (badge) badge.innerText = data.cartCount;

                        // Cập nhật tổng tiền
                        const totalPrice = document.querySelector('.cart-total-price');
                        if (totalPrice) {
                            totalPrice.innerText = new Intl.NumberFormat('vi-VN').format(data.newTotal) + 'đ';
                        }
                    } else {
                        alert("Lỗi: " + data.message);
                    }
                })
                .catch(error => {
                    console.error("Lỗi Fetch:", error);
                    alert("Có lỗi xảy ra khi gửi yêu cầu xóa.");
                });
        }
    </script>
    <!-- Main JS File -->
    <script th:src="@{/assets/js/main.min.js}"></script>
<!--<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"ecd4920e43e14654b78e65dbf8311922","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>-->
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'9a83b5283c190a04',t:'MTc2NDc3MTY1Ng=='};var a=document.createElement('script');a.src='../../cdn-cgi/challenge-platform/h/b/scripts/jsd/13c98df4ef2d/maind41d.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>


<!-- Mirrored from portotheme.com/html/porto_ecommerce/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Dec 2025 14:21:44 GMT -->
</html>